*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body{
    background-color: #1e1d26;
}
.container{
    margin: 0 auto;
    display: flex;
    background-color: #fafafa   ;
    width: 600px;
    height: 100vh;
}
/* ################# Section left */
.section-left{
    display: flex;
    background-color:#6e9279;
    width: 249px;
}
/* ################# Section right */

.section-right{
    display: flex;
    flex: 1;
    background-color: #ecf0f1;
}